.navbar {
  display: flex;
  justify-content: space-between;
  padding: 6px 2%;
  .navbar-links-box {
    .navbar-links {
      display: flex;
      .navbar-link {
        cursor: pointer;
        margin-left: 14px;
      }
      .selected {
        .navbar-link {
          color: red;
        }
      }
    }
  }
}
